<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Semtag</title>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    <!-- Le styles -->
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="bootstrap.css" rel="stylesheet">
    <link href="pedestal.css" rel="stylesheet">
    <link href="semtag-web.css" rel="stylesheet">

    <!-- Add xpath support to IE. Domina needs this -->
    <!--[if IE]>
        <script type="text/javascript" src="xpath.js"></script>
        <![endif]-->

  </head>

  <body>
    <div id="wrap">

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="#/">Home</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="#/types">Type Stats</a></li>
              <li><a href="#/tag-stats">Tag Stats</a></li>
              <li><a href="#/all">Latest Things</a></li>
            </ul></div></div></div></div>

    <div class="container">

      <div id="content"></div>

      <div id="options"></div>

    </div> <!-- /container -->
    <div id="push"></div>
    </div>

    <div id="footer">
      <div class="container">
        <p class="muted about">
         Copyright © 2013 Gabriel Horner
         | <a href="http://github.com/cldwalker/semtag-web">Source Code</a>
         | <a href="http://github.com/cldwalker/semtag-web#description" target="_blank">About</a>
        </p>
      </div>
    </div>

   <script src='spin.js'></script>
    <!-- jquery, jquery.tablesorter, jquery.timeago, cljs/main.js semtag_web.client.main.home -->
    <script id="script-driver"></script>

    <div id="spin_modal_overlay">
    </div>

  </body>
</html>
