<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Semtag</title>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    <!-- Le styles -->
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="bootstrap.min.css" rel="stylesheet">
    <!-- Necessary for switching between aspects -->
    <link href="pedestal.css" rel="stylesheet">
    <link href="semtag-web.css" rel="stylesheet">

    <!-- Add xpath support to IE. Domina needs this -->
    <!--[if IE]>
        <script type="text/javascript" src="xpath.js"></script>
        <![endif]-->

  </head>

  <body>
    <div id="wrap">

      <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="#/">Home</a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="#/types">Type Stats</a></li>
              <li><a href="#/tag-stats">Tag Stats</a></li>
              <li><a href="#/all">Latest Things</a></li>
            </ul>
            <form class="navbar-form navbar-right">
              <div class="form-group">
                <input id="create_thing_text" type="text" class="form-control" size="40" placeholder="url/name type tags desc">
              </div>
              <button id="create_thing_button" type="submit" class="btn btn-primary">Create Thing</button>
            </form>
      </div></div></div>

      <div class="container">
        <div class="page-header">
          <h1 id="page_title">Welcome to semtag!</h1>
        </div>

        <div id="content"></div>

        <div id="options"></div>

      </div> <!-- /container -->
      <div id="push"></div>
    </div>

    <div id="footer">
      <div class="container">
        <p class="muted about">
          Copyright © 2013 Gabriel Horner
          | <a href="http://github.com/cldwalker/semtag-web">Source Code</a>
          | <a href="http://github.com/cldwalker/semtag-web#description" target="_blank">About</a>
        </p>
      </div>
    </div>

   <script src='spin.js'></script>
    <!-- jquery, jquery.tablesorter, jquery.timeago, cljs/main.js semtag_web.client.main.home -->
    <script id="script-driver"></script>

    <div id="spin_modal_overlay">
    </div>

    <!-- These are for analytics specific to semtag.me. -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-7276306-5', 'semtag.me');
      ga('send', 'pageview');
    </script>
    <script src='d3.min.js'></script>
  </body>
</html>
