<_within file="application.html">

  <div id="content">

    <div template="home" id="main">
      <div class="top_box hero-unit" id="search_box">
        <form class="form-search" onsubmit="return false;">
          <label class="radio">
            <input checked name="search_type" type="radio" value="tagged">Tagged with</input>
          </label>
          <label class="radio">
            <input name="search_type" type="radio" value="tagged-with-type">Tagged with type</input>
            </label>
            <label class="radio">
              <input name="search_type" type="radio" value="regex">Containing regex</input>
            </label>
            <input autocomplete="on" autofocus="autofocus" class="search-query" id="url_search_text" list="tags" type="text">
            <button class="btn-primary" id="url_search_button">Search</button>
          </form>
          <button class="btn-large btn-success" id="add_url_button">Add Url</button>
          <textarea id="add_url_text"></textarea>
          <h2 id="greeting"></h2>
          <div id="table_stats"></div>
          <div id="search_table"></div>
      </div>
    </div>

  </div>

</_within>
