#main {
  width: 720px;
  margin: auto;
}

#main .alert {
  margin-top: 20px;
}

.top_box {
  margin-top: 50px;
}

#search_box table {
  background-color: white;
}

#url_search_button {
  margin-left: 14px
}
