#main {
  margin-left: 100px;
}

#main .alert {
  margin-top: 20px;
}

.top_box {
  margin-top: 50px;
  display: inline-block;
}

#search_box table {
  background-color: white;
}

#url_search_button {
  margin-left: 14px
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}
