#content {
  margin-top: 50px;
  /* to prevent results from overflowing */
  display: inline-block;
}

#content .alert {
  margin-top: 50px;
}

#search_box table {
  background-color: white;
}

table caption {
  font-weight: bold;
  font-size: 18px;
  padding: 5px;
}

#url_search_button {
  margin-left: 14px;
}

#add_url_button {
  margin-bottom: 10px;
  display: none;
}

#add_url_text {
  width: 280px;
  display:none;
}

td.delete a {
  display: none;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}

.table-striped tbody tr td.edit-in-progress {
  background-color: #fcf8e3;
}

.table-striped tbody tr td.edit-completed {
  background-color: #dff0d8;
}

.table-striped tbody tr td.edit-failed {
  background-color: #f2dede;
}

a.noname {
  color: grey;
}

#search_box label.radio {
  display: block;
}

/* prevent overflowing e.g. query=clj */
#table_stats {
  width: 600px;
}

#spin_modal_overlay {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2000000000;
    display: none;
}