<_within file="application.html">

  <div id="content">

    <div template="home" id="main" class="row">
      <div id="search_box" class="col-lg-12">
        <div id="greeting">
          <p>First time here? <a id="introduction_toggle" href="#">Learn more about semtag.</a></p>
        </div>
        <div id="introduction">
          <p>
          Semtag is a site that stores bookmarks as entities. Each entity must have a type, similar
          to a category. Unlike a category, a type is meant to specifically model how we view the
          world and answer "What is this thing? Is it an article, app, song, clip, etc. ?". For
          example, here is my bookmark for <a href="#/thing/gg">google</a> which is a <a
            href="#/type/company">company type</a>. The types can be any value and thus allows you
          to model your knowledge. For example, <a href="#/types">these are my types</a>.</p>

          <p>Semtag uses tagging as a means of organizing bookmarks, much like previous bookmarking sites e.g.
          delicious.com. With these older sites, tags mainly served to create a list of things e.g. <a
            href="#TODO">google things</a> and little importance was given to the tag itself. In semtag,
          tags are <i>as important as the entities they are tagging; they are entities themselves</i>.
          This means that tags are not just creating lists, they are <i>creating relationships
            between entities</i>. For example, google is an entity that has <a href="#/search?query=gg">this
            related (tagged) list</a> of articles, products, libraries, etc.
          </p>

          <p>
          By treating bookmarks as entities, letting you create any types for them and freely
          associate between them, semtag provides a powerful way to organize and grow your taxonomy.
          </p>
        </div>
        <form>
          <label class="radio">
            <input checked name="search_type" type="radio" value="tagged">Tagged with a thing</input>
            <span class="examples">(e.g. <a href="#/search?query=cljs">clojurescript</a> or
              <a href="#/search?query=article.cljs">articles with clojurescript</a>)</span>
          </label>
          <label class="radio">
            <input name="search_type" type="radio" value="tagged-with-type">Tagged with a thing type</input>
            <span class="examples">(e.g. <a href="#/search?query=database&search-type=tagged-with-type">database</a> or
              <a href="#/search?query=oapp.database&search-type=tagged-with-type">open source apps with a database</a>)</span>
          </label>
          <label class="radio">
            <input name="search_type" type="radio" value="regex">Matches this regular expression</input>
            <span class="examples"> - against any attribute (e.g. <a href="#/search?query=funny&search-type=regex">funny</a>)</span>
          </label>
          <input autocomplete="on" autofocus="autofocus" class="search-query" id="url_search_text" list="tags" type="text">
          <button class="btn btn-primary" id="url_search_button">Search</button>
        </form>
      </div>
      <div id="search_results" class="col-log-12">
      </div>
    </div>

  </div>

</_within>
